{
  "presets": [
    [
      "@babel/preset-env", 
      { 
        "modules": false,
        "loose": true
      }
    ],
    [
      "@babel/preset-react",
      {
        "runtime": "automatic"
      }
    ]
  ],
  "plugins": ["@babel/plugin-transform-runtime"]
}